<%= render 'wizard/steps/duty/calculations/options_summary' %>

<% @duty_options.each.with_index(1) do |option, index| %>
  <h2 id=<%= option[:key] %> class="govuk-heading-m govuk-!-margin-bottom-7"><%= t("duty_calculations.options.heading.#{option[:key]}", option_no: index) %></h2>
  <table class="govuk-table govuk-table--m govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Data</th>
        <th scope="col" class="govuk-table__header">Calculation</th>
        <th scope="col" class="govuk-table__header">Value</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%= render partial: 'wizard/steps/duty/calculations/option_row', collection: option[:evaluation][:values], as: :row %>
    </tbody>
  </table>
  <div class="govuk-!-margin-bottom-5">
    <%= option[:evaluation][:footnote].html_safe if option[:evaluation][:footnote].present? %>
  </div>
<% end %>
