<%= render 'steps/shared/back_link' %>

<%= form_for @step, url: annual_turnover_path do |f| %>
  <%= f.govuk_error_summary %>
  <span class="govuk-caption-xl">Calculate import duties</span>

  <%= f.govuk_collection_radio_buttons :annual_turnover, @step.options, :id, :name, hint: { text: t("annual_turnover.fieldset_hint_text.#{current_route}_html", turnover_amount: ukims_annual_turnover) }, legend: { text: t('annual_turnover.fieldset_legend_text'), size: 'xl', tag: 'h1' }, include_hidden: true %>

  <%= f.govuk_submit %>
<% end %>

<%= render 'shared/commodity_details' %>

<div class="explore-topics-section">
  <h2 class="govuk-heading-m govuk-!-margin-top-3">Explore the topic</h2>
  <ul class="govuk-list">
    <li>
      <%= link_to("Check if you can declare goods you bring into Northern Ireland 'not at risk' of moving to the EU", 'https://www.gov.uk/guidance/check-if-you-can-declare-goods-you-bring-into-northern-ireland-not-at-risk-of-moving-to-the-eu', class: 'govuk-link') %>
    </li>
  </ul>
</div>
