<%= render 'steps/shared/back_link' %>

<%= form_for @step, builder: GOVUKDesignSystemFormBuilder::FormBuilder, url: document_codes_path do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-xl">Calculate import duties</span>
  <h1 class="govuk-heading-xl">Do you have any of the following documents?</h1>
  <span class="govuk-hint govuk-!-margin-bottom-7">
    You may be able to reduce the duty applicable if you possess and can present one of the following documents.
  </span>

  <% if @step.applicable_document_codes.dig('uk', @step.measure_type_id).present? %>
    <%= f.govuk_collection_check_boxes :document_code_uk, @step.options_for_checkboxes_for(source: 'uk'), :id, :name, legend: { text: '' } %>
  <% end %>

  <% if @step.applicable_document_codes.dig('xi', @step.measure_type_id).present? %>
    <%= f.govuk_collection_check_boxes :document_code_xi, @step.xi_options_for_checkboxes_without_uk, :id, :name, legend: { text: '' } %>
  <% end %>

  <%= f.govuk_submit %>

  <%= render 'shared/commodity_details' %>
<% end %>
