<%= render 'steps/shared/back_link' %>

<span class="govuk-caption-xl">Calculate import duties</span>

<% if user_session.gb_to_ni_route? %>
  <%= render partial: 'steps/interstitial/shared/context', locals: { heading: t('interstitial.gb_to_ni.heading'), body: t('interstitial.gb_to_ni.body') } %>
<% elsif user_session.row_to_ni_route? %>
  <% if user_session.trade_defence %>
    <%= render partial: 'steps/interstitial/shared/context', locals: { heading: t('interstitial.row_to_ni.trade_defence.heading'), body: t('interstitial.row_to_ni.trade_defence.body') } %>
  <% elsif user_session.trader_scheme == 'no' %>
    <%= render partial: 'steps/interstitial/shared/context', locals: { heading: t('interstitial.row_to_ni.trader_scheme.heading'), body: t('interstitial.row_to_ni.trader_scheme.body_html') } %>
  <% elsif user_session.final_use == 'no' %>
    <%= render partial: 'steps/interstitial/shared/context', locals: { heading: t('interstitial.row_to_ni.final_use.heading'), body: t('interstitial.row_to_ni.final_use.body') } %>
  <% elsif user_session.unacceptable_processing? %>
    <%= render partial: 'steps/interstitial/shared/context', locals: { heading: t('interstitial.row_to_ni.no_commercial_purposes.heading'), body: t('interstitial.row_to_ni.no_commercial_purposes.body') } %>
  <% end %>
<% end %>

<%= link_to('Continue', @step.next_step_path, class: 'govuk-button') %>

