<%= link_to('Back', @step.previous_step_path, class: "govuk-back-link") %>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= form_for @step, builder: GOVUKDesignSystemFormBuilder::FormBuilder, url: planned_processing_path do |f| %>
        <%= f.govuk_error_summary %>
        <span class="govuk-caption-xl">Calculate import duties</span>

        <%= f.govuk_collection_radio_buttons :planned_processing, Wizard::Steps::PlannedProcessing::OPTIONS, :id,
                                             :name, :description, hint: { text: 'Your import will be treated as not at
                                             risk, and will therefore not be subject to EU import duties, if you can verify that your goods will not be subject to further processing after import, or will be processed according to strict guidelines.
' }, legend: { text: 'How will these goods be processed after import?', size: 'xl', tag: 'h1' }, include_hidden: true %>


        <%= f.govuk_submit %>
      <% end %>

      <%= render 'shared/commodity_details' %>

      <div class="explore-topics-section">
        <h2 class="govuk-heading-m govuk-!-margin-top-3">Explore the topic</h2>
        <ul class="govuk-list">
          <li>
            <%= link_to('Check if you can declare goods you bring into Northern Ireland not ‘at risk’ of moving to the EU', 'https://www.gov.uk/guidance/check-if-you-can-declare-goods-you-bring-into-northern-ireland-not-at-risk-of-moving-to-the-eu', class: 'govuk-link') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
