<%= render 'steps/shared/back_link' %>

<%= form_for @step, builder: GOVUKDesignSystemFormBuilder::FormBuilder, url: excise_path do |f| %>
  <%= f.govuk_error_summary %>
  <span class="govuk-caption-xl">Calculate import duties</span>
  <h1 class="govuk-heading-xl">Which class of excise is applicable to your trade?</h1>

  <% excise_link = link_to('UK Trade: excise, duties, reliefs, drawbacks and allowances (opens in new browser window)', 'https://www.gov.uk/government/publications/uk-trade-tariff-excise-duties-reliefs-drawbacks-and-allowances/uk-trade-tariff-excise-duties-reliefs-drawbacks-and-allowances', class: 'govuk-link', target: '_blank') %>

  <%=
    f.govuk_collection_radio_buttons(
      :additional_code,
      @step.options_for_radio_buttons,
      :id,
      :name,
      legend: { text: '' },
      hint: {
        text: sanitize("<p>There are multiple excise duties that could be applied to trade in this commodity code. Select which class of excise duty applies to your trade</p><p>For more information on excise duty classes, please see #{excise_link}</p>", attributes: %w[href target class]) 
      }
    )
  %>

  <%= f.govuk_submit %>
<% end %>

<%= render 'shared/commodity_details' %>
