<%= link_to('Back', :back, class: "govuk-back-link") %>

<span class="govuk-caption-xl">Calculate import duties</span>
<% if @duty_options.nil? %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">There is no import duty to pay</h1>
    </legend>
  </fieldset>
  <%= render 'no_duty' %>
<% else %>
  <h1 class="govuk-heading-xl">Import duty calculation</h1>
  <p class="govuk-body">You are importing commodity <%= link_to(commodity.formatted_commodity_code(user_session.additional_codes), commodity_url(commodity.code), class: 'govuk-link') %> from <strong><%= country_of_origin_description %> </strong> on <strong><%= l user_session.import_date %></strong>.</p>
  <%= render 'wizard/steps/duty/calculations/trade_details' %>
  <%= render 'wizard/steps/duty/calculations/options' %>
  <% if @gbp_to_eur_exchange_rate.present? %>
    <%= render 'wizard/steps/duty/calculations/exchange_rate_details' %>
  <% end %>
<% end %>
