<% if !@user_session.trade_defence && @user_session.zero_mfn_duty %>
  <p class="govuk-body-m govuk-!-margin-top-5">There is no import duty to pay when importing goods into Northern Ireland from GB when the EU's third country duty is 0.00%.</p>
<% elsif @user_session.planned_processing == 'without_any_processing' %>
  <p class="govuk-body-m govuk-!-margin-top-5">There is <strong>no import duty to pay</strong> because:</p>
  <ul class="govuk-list govuk-list--bullet">
    <%= render('steps/duty/gb_to_ni/shared/no_duty_bullet_points') %>
    <li>You <strong>do not intend to further process</strong> the goods on arrival in Northern Ireland</li>
  </ul>
  <%= render('steps/duty/gb_to_ni/shared/note') %>
<% elsif @user_session.annual_turnover == 'yes' %>
  <p class="govuk-body-m govuk-!-margin-top-5">There is <strong>no import duty to pay</strong> because:</p>
  <ul class="govuk-list govuk-list--bullet">
    <%= render('steps/duty/gb_to_ni/shared/no_duty_bullet_points') %>
    <li>The importer had a total <strong>annual turnover</strong> of less than <strong><%= ukims_annual_turnover %></strong> in its most recent complete financial year</li>
  </ul>
  <%= render('steps/duty/gb_to_ni/shared/note') %>
<% elsif @user_session.planned_processing == 'commercial_processing' %>
  <p class="govuk-body-m govuk-!-margin-top-5">There is <strong>no import duty to pay</strong> because:</p>
  <ul class="govuk-list govuk-list--bullet">
    <%= render('steps/duty/gb_to_ni/shared/no_duty_bullet_points') %>
    <li>You will be undertaking <strong>permitted commercial processing</strong> on the goods on arrival in Northern Ireland</li>
  </ul>
  <%= render('steps/duty/gb_to_ni/shared/note') %>
<% elsif @user_session.certificate_of_origin == 'yes' %>
  <p class="govuk-body-m govuk-!-margin-top-5">There is <strong>no import duty to pay</strong> because:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>You are transporting goods from England, Scotland or Wales to Northern Ireland</li>
    <li>You are able to take advantage of the preferential tariffs provided by the UK / EU Trade and Co-operation Agreement (TCA) and have a valid Certificate of Origin</li>
  </ul>
  <p class="govuk-body-m">You may be called upon to provide a copy of your Certificate of Origin to avoid paying duties.<p>
<% end %>
